### Now , I will use clean bank data to make model.

In [15]:
# Importing Data Analysis Librarys
import numpy as np
import pandas as pd
from IPython.display import display
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [12]:
bank_model=pd.read_csv('/Users/kanchansingh/git project/Bank_propensity_model/clean_data.csv')

In [13]:
bank_model.head()

,age,education,default,housing,loan,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,...,duration,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,campaign,pdays,previous,poutcome
0,9,0,0,0,0,0,0,1,0,0,...,3,1.1,93.994,-36.4,4.857,5191.0,1,999,0,nonexistent
1,9,3,1,0,0,0,0,0,0,0,...,2,1.1,93.994,-36.4,4.857,5191.0,1,999,0,nonexistent
2,5,3,0,2,0,0,0,0,0,0,...,3,1.1,93.994,-36.4,4.857,5191.0,1,999,0,nonexistent
3,5,1,0,0,0,0,0,0,0,0,...,2,1.1,93.994,-36.4,4.857,5191.0,1,999,0,nonexistent
4,9,3,0,0,2,0,0,0,0,0,...,3,1.1,93.994,-36.4,4.857,5191.0,1,999,0,nonexistent