### Now , I will use clean bank data to make model.

In [17]:
# Importing Data Analysis Librarys
import numpy as np
import pandas as pd
from IPython.display import display
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [18]:
bank_model=pd.read_csv('/Users/kanchansingh/git project/Bank_propensity_model/clean_data.csv')

In [19]:
bank_model.head()

,age,education,default,housing,loan,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,...,duration,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,campaign,pdays,previous,poutcome
0,9,0,0,0,0,0,0,1,0,0,...,3,1.1,93.994,-36.4,4.857,5191.0,1,999,0,nonexistent
1,9,3,1,0,0,0,0,0,0,0,...,2,1.1,93.994,-36.4,4.857,5191.0,1,999,0,nonexistent
2,5,3,0,2,0,0,0,0,0,0,...,3,1.1,93.994,-36.4,4.857,5191.0,1,999,0,nonexistent
3,5,1,0,0,0,0,0,0,0,0,...,2,1.1,93.994,-36.4,4.857,5191.0,1,999,0,nonexistent
4,9,3,0,0,2,0,0,0,0,0,...,3,1.1,93.994,-36.4,4.857,5191.0,1,999,0,nonexistent

In [20]:
bank_model[0:].transpose()

,0,1,2,3,4,5,6,7,8,9,...,41178,41179,41180,41181,41182,41183,41184,41185,41186,41187
age,9,9,5,5,9,6,9,6,2,2,...,10,10,5,5,3,12,7,9,6,12
education,0,3,3,1,3,2,5,7,5,3,...,6,5,6,6,0,5,5,6,5,5
default,0,1,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
housing,0,0,2,0,0,0,0,0,2,2,...,0,2,0,2,2,2,0,2,0,2
loan,0,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
job_blue-collar,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
job_entrepreneur,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
job_housemaid,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
job_management,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
job_retired,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,1,0,1,0,1
job_self-employed,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
job_services,0,1,1,0,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
job_student,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
job_technician,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
job_unemployed,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
job_unknown,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
marital_married,1,1,1,1,1,1,1,1,0,0,...,1,0,1,1,0,1,1,1,1,1
marital_single,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,1,0,0,0,0,0
marital_unknown,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
contact,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
month,6,6,6,6,6,6,6,6,6,6,...,7,7,7,7,7,7,7,7,7,7
day_of_week,1,1,1,1,1,1,1,1,1,1,...,2,0,0,0,0,0,0,0,0,0
duration,3,2,3,2,3,3,2,3,4,1,...,4,2,3,3,2,4,4,3,4,3
emp.var.rate,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,...,-1.1,-1.1,-1.1,-1.1,-1.1,-1.1,-1.1,-1.1,-1.1,-1.1
cons.price.idx,93.994,93.994,93.994,93.994,93.994,93.994,93.994,93.994,93.994,93.994,...,94.767,94.767,94.767,94.767,94.767,94.767,94.767,94.767,94.767,94.767
cons.conf.idx,-36.4,-36.4,-36.4,-36.4,-36.4,-36.4,-36.4,-36.4,-36.4,-36.4,...,-50.8,-50.8,-50.8,-50.8,-50.8,-50.8,-50.8,-50.8,-50.8,-50.8
euribor3m,4.857,4.857,4.857,4.857,4.857,4.857,4.857,4.857,4.857,4.857,...,1.031,1.028,1.028,1.028,1.028,1.028,1.028,1.028,1.028,1.028
nr.employed,5191,5191,5191,5191,5191,5191,5191,5191,5191,5191,...,4963.6,4963.6,4963.6,4963.6,4963.6,4963.6,4963.6,4963.6,4963.6,4963.6
campaign,1,1,1,1,1,1,1,1,1,1,...,2,3,2,1,1,1,1,2,1,3
pdays,999,999,999,999,999,999,999,999,999,999,...,6,999,999,999,9,999,999,999,999,999
previous,0,0,0,0,0,0,0,0,0,0,...,3,0,0,0,1,0,0,0,0,1
poutcome,nonexistent,nonexistent,nonexistent,nonexistent,nonexistent,nonexistent,nonexistent,nonexistent,nonexistent,nonexistent,...,success,nonexistent,nonexistent,nonexistent,success,nonexistent,nonexistent,nonexistent,nonexistent,failure